<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
        
    <title>Mars-Admin </title>
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
     
   
</head>
<body>

<div class="background">
    
    
    
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">

                    <img class="logostyle" src="~/Images/logo1.png" />
					
                </a>

            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    
	
	
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
					
					    
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="~/Home/Index">Dashboard</a></li>
                            <li><a href="~/Doctor/Doctors">Doctors</a></li>
                            <li><a href="~/Patient/UserPatient">Users & patients</a></li>
                            <li><a href="~/Patient/MedicalRecords">Medical Records</a></li>
                             <li><a href="~/Account/logout">Logout</a></li>
                            

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper ">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="second-page-head-line">Admin Panel Dashboard</h4>

                </div>

            </div>
           
            <div class="row">
				<div class="dashboardstyle">
					<a href="~/Doctor/Doctors">
						 <div class="col-md-4 col-sm-4 col-xs-6">
							<div class="dashboard-div-wrapper bk-clr-one">
							
								<i  class="fa fa-edit dashboard-div-icon" ></i>
								<div class="progress progress-striped active">                          
								</div>
								 <h5>Doctors</h5>
							</div>
						</div>
					</a>
					
					<a href="~/Patient/UserPatient">
						 <div class="col-md-4 col-sm-4 col-xs-6">
							<div class="dashboard-div-wrapper bk-clr-three">
							
								<i  class="fa fa-users dashboard-div-icon" ></i>
								<div class="progress progress-striped active">
								</div>
								 <h5>Users and Patients</h5>
							</div>
						</div>
					</a >
					<!--<a href="UserPatient.html">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="dashboard-div-wrapper bk-clr-two">
							
								<i  class="fa fa-plus-square dashboard-div-icon" ></i>
								<div class="progress progress-striped active">
								</div>
								 <h5>Patients </h5>
							</div>
						</div>
					</a>-->
					<a href="~/Patient/MedicalRecords">
						 <div class="col-md-4 col-sm-4 col-xs-6">
							<div class="dashboard-div-wrapper bk-clr-four">
							
								<i  class="fa fa-info-circle dashboard-div-icon" ></i>
								<div class="progress progress-striped active">
								</div>
								<h5>Medical Records</h5>
							</div>
						</div>
					</a>
				</div>
                

            </div>
           
            
               
				
            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     Google Play Store-><a href="http://www.designbootstrap.com/" target="_blank">MARS-Medical Records System</a>
                </div>

            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    
	
	
    <!-- CORE JQUERY SCRIPTS -->
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="~/Scripts/bootstrap.js"></script>
</div>
</body>
</html>
