<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    
    <title>Mars-Admin </title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
     
   
</head>
<body>

<div class="background">
    
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">

                    <img class="logostyle" src="~/Images/logo1.png" />
                </a>

            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
	
	
	
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a  href="~/Home/Index">Dashboard</a></li>
                            <li><a href="~/Doctor/Doctors">Doctors</a></li>
                            <li><a href="~/Patient/UserPatient">Users & patients</a></li>
                            <li><a class="menu-top-active" href="~/Patient/MedicalRecords" >Medical Records</a></li>
                            <li><a href="~/Account/logout">Logout</a></li>
                            

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="second-page-head-line">Medical Records</h4>

                </div>

            </div>
           
            <div class="row">
				<a href="~/data/1.pdf">
					 <div class="col-md-2 col-sm-2 col-xs-4">
						<div class="dashboard-div-wrapper file-clr-one">
						
							<i  class="fa fa-file-pdf-o dashboard-div-icon" ></i>
							<div class="progress progress-striped active">                          
							</div>
							<h4>1.pdf</h4>
							 <h5>Patient: Aleena Ahmad </h5>
							 <h5>User: Shanza Arshad</h5>
							 <h6>category:diabetes</h6>
						</div>
					</div>
				</a>
				
                <a href="~/data/2.pdf">
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <div class="dashboard-div-wrapper file-clr-three">

                            <i class="fa fa-file-pdf-o dashboard-div-icon"></i>
                            <div class="progress progress-striped active">
                            </div>
                            <h4>2.pdf</h4>
                            <h5>Patient: Aleena Ahmad </h5>
                            <h5>User: Shanza Arshad</h5>
                            <h6>category:diabetes</h6>
                        </div>
                    </div>
                </a>
                <a href="~/data/2.pdf">
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <div class="dashboard-div-wrapper file-clr-two">

                            <i class="fa fa-file-pdf-o dashboard-div-icon"></i>
                            <div class="progress progress-striped active">
                            </div>
                            <h4>2.pdf</h4>
                            <h5>Patient: Aleena Ahmad </h5>
                            <h5>User: Shanza Arshad</h5>
                            <h6>category:diabetes</h6>
                        </div>
                    </div>
                </a>
                <a href="~/data/4.pdf">
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <div class="dashboard-div-wrapper file-clr-one">

                            <i class="fa fa-file-pdf-o dashboard-div-icon"></i>
                            <div class="progress progress-striped active">
                            </div>
                            <h4>4.pdf</h4>
                            <h5>Patient: Aleena Ahmad </h5>
                            <h5>User: Shanza Arshad</h5>
                            <h6>category:diabetes</h6>
                        </div>
                    </div>
                </a>
                
                <a href="~/data/5.pdf">
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <div class="dashboard-div-wrapper file-clr-three">

                            <i class="fa fa-file-pdf-o dashboard-div-icon"></i>
                            <div class="progress progress-striped active">
                            </div>
                            <h4>5.pdf</h4>
                            <h5>Patient: Aleena Ahmad </h5>
                            <h5>User: Shanza Arshad</h5>
                            <h6>category:diabetes</h6>
                        </div>
                    </div>
                </a>
				
                <a href="~/data/6.pdf">
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <div class="dashboard-div-wrapper file-clr-two">

                            <i class="fa fa-file-pdf-o dashboard-div-icon"></i>
                            <div class="progress progress-striped active">
                            </div>
                            <h4>6.pdf</h4>
                            <h5>Patient: Aleena Ahmad </h5>
                            <h5>User: Shanza Arshad</h5>
                            <h6>category:diabetes</h6>
                        </div>
                    </div>
                </a>
				<a href="/data/7.pdf">
					<div class="col-md-2 col-sm-2 col-xs-4">
						<div class="dashboard-div-wrapper file-clr-one">
						
							<i  class="fa fa-file-pdf-o dashboard-div-icon" ></i>
							<div class="progress progress-striped active">
							</div>
							 <h4>7.pdf</h4>
							 <h5>Patient: Aleena Ahmad </h5>
							 <h5>User: Shanza Arshad</h5>
							 <h6>category:diabetes</h6>
							 
						</div>
						
					</div>
					
				</a>
				<a href="assets/data/4.pdf">
					 <div class="col-md-2 col-sm-2 col-xs-4">
						<div class="dashboard-div-wrapper file-clr-three">
						
							<i  class="fa fa-file-pdf-o dashboard-div-icon" ></i>
							<div class="progress progress-striped active">
							</div>
							<h4>4.pdf</h4>
							 <h5>Patient: Aleena Ahmad </h5>
							 <h5>User: Shanza Arshad</h5>
							 <h6>category:diabetes</h6>
						</div>
					</div>
				</a>

            </div>
           
            
               
				
            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     Google Play Store-><a href="http://www.designbootstrap.com/" target="_blank">MARS-Medical Records System</a>
                </div>

            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    
	
	
    <!-- CORE JQUERY SCRIPTS -->
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="~/Scripts/bootstrap.js"></script>
</div>
</body>
</html>
