<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
        
    <title>Mars-Admin </title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
   
</head>
<body>
    <div class="background">
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">

                    <img class="logostyle" src="~/Images/logo1.png" />
                </a>

            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
	
	
	
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a  href="~/Home/Index">Dashboard</a></li>
                            <li><a href="~/Doctor/Doctors">Doctors</a></li>
                            <li><a class="menu-top-active" href="~/Patient/UserPatient" >Users & patients</a></li>
                            <li><a href="~/Patient/MedicalRecords">Medical Records</a></li>
                            <li><a href="~/Account/logout">Logout</a></li>
                            

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="second-page-head-line">Users And Patients </h4>

                </div>

            </div>
           
           
                <!--    Context Classes  -->
                    <div class="panel panel-default">
                       
                        <div class="panel-heading">
                           Users And Patients 
                        </div>
                        
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
									<thead>
										<th> User  Name </th>
										<th>Email</th>
										<th> Patients </th>
									
									<thead>
									<tbody>
									<tr class="info">
										<td> Maham Nazir </td>
										<td> Maham@gmail.com </td>
										
										<td>
										 <div class="panel-body">
											<div class="table-responsive ">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>#</th>
															<th> Patient Name</th>
														</tr>
													</thead>
													<tbody>
														
														<tr>
														
															<td>1</td>
															<td> Iqra Rashid </td>
															<td>
																<a href="PatientRecords.html">
																	<button class="btn btn-default"><i class=" fa fa-info-circle"></i> Medical Records</button>
																</a>
															</td>
														</tr>
														
														
														<tr >
															<td>2</td>
															<td> Aleena Ahmad</td>
															<td>
																<a href="PatientRecords.html">
																	<button class="btn btn-default"><i class=" fa fa-info-circle"></i> Medical Records</button>
																</a>
															</td>
														</tr>
														
													   
													</tbody>
												</table>
											</div>
											</div>
											</td>
										</tr>
										<tr class="success">
											<td> Shanza Arshad </td>
											<td> shanza@gmail.com </td>
										
											<td>
												 <div class="panel-body">
														<div class="table-responsive ">
															<table class="table table-hover">
																<thead>
																	<tr>
																		<th>#</th>
																		<th> Patient Name</th>
																		
																		
																	</tr>
																</thead>
																<tbody>
																	
																	<tr >
																		<td>1</td>
																		<td> Ali Tahir </td>
																		<td>
																			<a href="PatientRecords.html">
																				<button class="btn btn-default"><i class=" fa fa-info-circle"></i> Medical Records</button>
																			</a>
																		</td>
																	</tr>
																	<tr >
																		<td>2</td>
																		<td> Rabia Khalid Farooq</td>
																		<td>
																			<a href="PatientRecords.html">
																				<button class="btn btn-default"><i class=" fa fa-info-circle"></i> Medical Records</button>
																			</a>
																		</td>
																	
																   
																</tbody>
															</table>
														</div>
													</div>
												</td>
											</tr>
											<tr class="danger">
											<td> Shanza Arshad </td>
											<td> shanza@gmail.com </td>
										
											<td>
												 <div class="panel-body">
														<div class="table-responsive ">
															<table class="table table-hover">
																<thead>
																	<tr>
																		<th>#</th>
																		<th> Patient Name</th>
																		
																	</tr>
																</thead>
																<tbody>
																	
																	<tr >
																		<td>1</td>
																		<td> Ali Tahir </td>
																		<td>
																			<a href="PatientRecords.html">
																				<button class="btn btn-default"><i class=" fa fa-info-circle"></i> Medical Records</button>
																			</a>
																		</td>
																	</tr>
																	<tr >
																		<td>2</td>
																		<td> Rabia Khalid Farooq</td>
																		<td>
																			<a href="PatientRecords.html">
																				<button class="btn btn-default"><i class=" fa fa-info-circle"></i> Medical Records</button>
																			</a>
																		</td>
																   
																</tbody>
															</table>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  end  Context Classes  -->
           
            
               
				
            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     Google Play Store-><a href="http://www.designbootstrap.com/" target="_blank">MARS-Medical Records System</a>
                </div>

            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    
	
	
    <!-- CORE JQUERY SCRIPTS -->
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="~/Scripts/bootstrap.js"></script>
	</div>
</body>
</html>
